<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>User Agents</h1>
            <h5 class="w3-padding-32">User Agents are best defined as the information sent to websites to identify devices, browsers, and features.
                <p class="w3-text-grey">
                <h2> Your User Agent Info</h2>
                <ul>
                    <li><strong>Full User Agent String | </strong><%= request.env["HTTP_USER_AGENT"] %></li>
                    <br>
                    <li><strong>Device | </strong><%= @browser.device.name %></li>
                    <li><strong>Platform | </strong><%= @browser.platform.name %> <%= @browser.platform.version %></li>
                    <li><strong>Info | </strong><%= @browser.name %> <%= @browser.full_version %></li>
                </ul>
                </p>
        <h5 class="w3-padding-32 w3-text-grey"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent">MDN Guide on User Agents</a></h5>
        </div>
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>
    </div>
</div>