<%= render template: "layouts/application" %>

<% content_for :title do %>
Modern Browsers
<br>
<button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><%= link_to 'Home', welcome_index_path %></button>
<% end %>

<% content_for :nav do %>
<!-- Insert Nav Components Here -->
<% end %>

<% content_for :body do %>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <%= render "agent_info" %>
        <br>
        <table class="center">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th>Owner</th>
                </tr>
            </thead>

            <% @modernBrowsers.each do |browser| %>
            <tr>
                <td><%= browser.company %></td>
                <td><%= browser.name %></td>
                <td><%= link_to 'More information', modern_browser_path(browser) %></td>
            </tr>
            <% end %>

        </table>
    </div>
</div>
<% end %>