<h1> User Agent Info</h1>
<ul>
  <li>Full User Agent String: <%= @browser.to_s %></li>
  <li>Device: <%= @browser.device.name %></li>
  <li>Platform: <%= @browser.platform.name %> <%= @browser.platform.version %></li>
  <li>Info: <%= @browser.name %> <%= @browser.full_version %></li>
</ul>
