<h2> Your User Agent Info</h2>
<ul>
  <li><strong>Full User Agent String | </strong><%= request.env["HTTP_USER_AGENT"] %></li>
  <br>
  <li><strong>Device | </strong><%= @browser.device.name %></li>
  <li><strong>Platform | </strong><%= @browser.platform.name %> <%= @browser.platform.version %></li>
  <li><strong>Info | </strong><%= @browser.name %> <%= @browser.full_version %></li>
</ul>
