<h1>User Agent Parser</h1>
<br>
<nav>
  <%= link_to 'Articles', controller: 'articles' %>
</nav>

<h1> User Agent Info</h1>
<ul>
  <li>Full User Agent String: <%= @browser.to_s %></li>
  <li>Device: <%= @browser.device.name %></li>
  <li>Platform: <%= @browser.platform.name %> <%= @browser.platform.version %></li>
  <li>Info: <%= @browser.name %> <%= @browser.full_version %></li>
</ul>


<h2>Current top 5 browsers:</h2>
<ul>
  <li>Chrome</li>
  <li>Edge</li>
  <li>Firefox</li>
  <li>Safari</li>
  <li>Opera</li>
</ul>
