<!DOCTYPE html>
<html>
  <head>
    <title>User Agent Reader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <title>User Agent Reader</title>
      <nav>

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
